.signIn-container {
  @include def-modal-container;

  &__form {
    @include def-box;

    h1 {
      @include def-text-block;
      margin-top: 0;
      font-weight: 600;
      margin-bottom: 30px;
      font-size: 2em;
    }

    > input {
      @include def-input;
      width: 200px;
      margin-top: 20px;
      font-size: 1.2em;
    }

    > label {
      width: 100%;
      font-family: $basicFontFamily;
      font-size: 1.2em;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-decoration: none;
      color: $basicColor;

      > input {
        @include def-input;
        width: 100%;
        height: auto;
        min-height: 30px;
        margin-top: 5px;
        background-color: rgba(255, 255, 255, 0.3);
      }

      &__text:hover {
        background-color: rgba(255, 255, 255, 0.45);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
      }
    }

    &__button {
      @include submit-form-button;
    }
  }
}

.input-error {
  @include input-error-box;
}
