.homePage-container {
  display: flex;
  min-height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  &__products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "FiraSans-Regular", sans-serif;
    font-size: 24px;
    font-weight: 800;

    h2 {
      display: flex;
      justify-content: center;
      height: auto;
      margin: 2% 0 0 0;
      font-size: 32px;
      font-weight: 700;
      color: $basicColor;
      white-space: normal;
      word-spacing: 4px;
      letter-spacing: 0.8px;
    }
  }
}
