.header-container {
  background-color: $basicColor2;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "FiraSans-Regular", sans-serif;
  white-space: normal;
  word-wrap: break-word;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;

  &__logo {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    font-weight: 400;

    img {
      margin: 0;
      height: 50px;
      width: 200px;
    }
  }
}
