.profile {
  font-family: $basicFontFamily;
  background: linear-gradient(
    90deg,
    rgba(246, 143, 143, 1) 4%,
    rgba(242, 242, 242, 0.9976365546218487) 50%,
    rgba(153, 153, 153, 1)
  );
}

.profile-container {
  @include def-box;

  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  border-left: 1px solid rgb(22, 22, 22);
  border-right: 1px solid rgb(22, 22, 22);
  background-color: #f2f2f2;

  > label {
    width: 80%;
    margin: 0 auto;
  }

  &__info {
    @include def-box;
    flex-direction: row;
    justify-content: left;
    margin: auto;
    max-width: 600px;
    font-family: $basicFontFamily;
    font-size: 18px;
    font-weight: 600;
    color: $basicColor;

    > p {
      width: 30%;
    }

    > input {
      @include def-input;
      margin-left: 10px;
      width: 70%;
      height: 30px;
      min-width: 50px;
      background-color: white;

      &:hover {
        background-color: rgba(255, 255, 255, 0.45);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
      }

      > p {
        width: 300px;
        font-size: 18px;
      }
    }
  }

  &__btns {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    button {
      margin-top: 50px;
      @include submit-form-button($width: 200px);
    }
  }
}
