button {
  background: transparent;
  border-width: 0px;
}

.productsGrid-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  padding-bottom: 5%;
}

.addGame-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
}
