.footer-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: $basicColor;
  font-family: $basicFontFamily;
  white-space: normal;
  word-wrap: break-word;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: $basicColor2;
    font-size: 28px;
    font-weight: 700;
    white-space: normal;
    word-spacing: 4px;
    letter-spacing: 0.8px;
    height: auto;
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: $basicFontFamily;

    &__rect {
      height: 100px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 20px;
      transition: height 0.5s;

      &:hover {
        height: 120px;
      }
    }

    &__square {
      height: 100px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 20px;
      transition: height 0.5s;

      &:hover,
      &:focus-visible {
        height: 120px;
      }
    }
  }
}
