.productPage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  padding: 1%;

  &__loadingGif {
    max-width: 200px;
    height: auto;
  }

  &__search {
    @include def-box;
    flex-direction: row;
    font-family: $basicFontFamily;
    font-size: 22px;
    width: 200px;

    > h2 {
      padding-right: 10px;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 0;
    }

    &__text {
      height: auto;
      @include def-input;
    }

    &__text:hover {
      background-color: rgba(255, 255, 255, 0.45);
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    }
  }
}

.products-container {
  @include def-box;
  flex-direction: row;
  justify-content: top;
  justify-content: space-around;

  &__products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
  }

  &__filter {
    margin-top: 3%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    background-color: #f2f2f2;
    font-family: $basicFontFamily;
    letter-spacing: 0.6px;
    font-weight: 500;
    border-radius: 10px;
    padding: 10px;

    > h2 {
      display: flex;
      align-self: center;
      margin-bottom: 10px;
      font-weight: 600;
      width: 100%;
    }

    &__box {
      width: 100%;
      > h2 {
        display: flex;
        align-self: center;
        font-weight: 600;
        margin-left: 20px;
      }
    }
  }
}

.select-input {
  margin: 20px;
}

.filter-button {
  @include submit-form-button;
}
