.productPage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  background-color: #fff;

  &__loadingGif {
    max-width: 200px;
    height: auto;
  }

  &__search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: $basicFontFamily;
    font-size: 24px;

    > h2 {
      padding-right: 10px;
      font-size: 20px;
      font-weight: 600;
    }

    &__text {
      font-family: $basicFontFamily;
      font-size: 18px;
      height: auto;
      width: 30%;
      min-height: 30px;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.3);
      transition: 0.3s all;
    }

    &__text:hover {
      background-color: rgba(255, 255, 255, 0.45);
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    }
  }
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #ff4747;
  border-color: #ff4747 transparent #ff4747 transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
